* {
  padding: 0;
  margin: 0;
  transition: 0.3s ease;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  background: url('../img/mainBg.png');
  background-position: center;
  background-size: cover;
  height: 760px;
}

header{
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  margin-top: 20px;
}

.logo_block{
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_block img{
  width: 50px;
}
.logo_block p{
  color: white;
  font-size: 24px;
  margin-left: 20px;
  font-weight: 700;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: auto;
  background-color: white;
  border-radius: 50px;
  padding: 10px;
}

nav a{
  color: black;
  text-align: center;
  margin: 0 10px;
  text-decoration: none;
}

.textMain{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  margin-top: 60px;
}

.textMain h1{
  color: white;
  font-size: 92px;
}

.regBlock{
  display: flex;
  align-items: center;
  justify-content: center;
}

.regBlock a{
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.textMain h2{
  text-align: right;
  color: white;
  font-size: 32px;
}

.mainBtnsBlock{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 620px;
  margin-top: 60px;
}


.blueBtn{
  background-color: #39BBF4;
  padding: 10px 20px;
  border-radius:20px;
  border:none;
  font-size: 22px;
  color: white;
  font-weight: 600;
  border-bottom-right-radius: 0px;
  cursor: pointer;
}

.yellowBtn{
  background-color: #FEC60F;
  padding: 10px 20px;
  border-radius:20px;
  border:none;
  font-size: 22px;
  font-weight: 500;
  border-bottom-right-radius: 0px;
  cursor: pointer;
}

.sliderMain{
  position: relative;
  width: 1200px;
  height: 460px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightBtnArrowMainSlider{
  position: absolute;
  transform: translate(0%, 0%) rotate(-180deg);
  left: -35px;top: 48%;
  z-index: 2;
}
.leftBtnArrowMainSlider{
  position: absolute;
  right: -35px;top: 48%;
  z-index: 2;
}

.sliderMain div{
  width: 280px;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: start;
  flex-direction: column;
  position: relative;
}

.nameCard{
  color: #002A43;
  margin: 20px;
  font-size: 24px;
  width: 120px;
  height: 40px;
}


.descCard{
  font-size: 20px;
  color: #39BBF4;
  margin: 20px;
}

.moreCard{
  margin: 20px;
  margin-top: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #39BBF4;
  text-decoration: underline;
}

.sliderMain div img{
  position: absolute;
  width: 150px;
  top: 50%;
  transform: translate(0%, -50%);
  right: 5px;
}
.cats{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  height: 750px;
  margin-top: 60px;
  position: relative;
}



.filter{
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 40px;
  width: 364px;
  height: 30px;
  background-color: #006AA8;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.filter button{
  background-color: #002A4300;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  color: grey;
  cursor: pointer;
  border: none;
  width: 90px;
}
.active{
  color: white;
}
.filter button:hover{
  font-size: 17px;
}

.textCat{
  display: flex;
  align-items: center;
  width: 1200px;
  justify-content: space-between;
}

.zagText{
  color: #006AA8;
  font-size: 50px;
  font-weight: 600;
  position: relative;
  margin-left: 10px;
}

.zagText::before{
  content: '';
  position: absolute;
  width: 6px;
  border-radius: 50px;
  height: 80%;
  top: 50%;
  transform: translate(0,-50%);
  background-color: #39BBF4;
  left: -10px;
}

.descText{
  color: #006AA8;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
}


.catCards{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  flex-wrap: wrap;
}

.cardCat{
  width: 350px;
  border-radius: 20px;
  height: 620px;
  border-bottom-left-radius: 0px;
  box-shadow: 0px 0px 5px grey;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.cardCat .nameCardCat{
  color: #006AA8;
  text-align: center;
  height: 60px;
  font-size: 28px;
  width: 300px;
  text-align: start;
  margin: 10px 0px;
  font-weight: 600;
}

.btnsBlock{
  width: 300px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.elCatsCardIn{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 195px;
  margin: 25px 0px;
}

.elCatInThis{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 120px;
  height: 17px;
  margin: 2.5px;
}

.elCatInThis div{
  width: 16px;
  height: 16px;
  background-color: #39BBF4;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
}

.elCatInThis p{
  color: #39BBF4;
  font-size: 18px;
  margin-left: 5px;
}

.prem{
  width: 1200px;
  height: auto;
  display: flex;
  align-items: start;
  justify-content: start;
  margin: 0 auto;
  flex-direction: column;
  margin-top: 60px;
}

.premBlock{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.blockPremMain{
  width: 360px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blockPremMain p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #006AA8;
  width: 80%;
  font-size: 26px;
}

.portfolio{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: start;
  justify-content: start;
  margin-top: 60px;
  flex-direction: column;
}

.portgfa{
  width: 100%;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}

.portgfa img{
  margin-top: 20px;
}

.otz{
  margin: 0 auto;
  margin-top: 60px;
  width: 1200px;
  height: auto;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: start;
}

.otzSlider{
  width: 100%;
  height: 350px;
  overflow: hidden;
  overflow-x: scroll;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.otzSlider::-webkit-scrollbar{
  height: 7px;
  background-color: #006AA8;
  color: #39BBF4;
  border-radius: 10px;
}


.otzSlider::-webkit-scrollbar-thumb{
  background-color: #39BBF4;
  border-radius: 8px;
}


.otziv{
  min-width: 500px;
  min-height: 320px;
  box-shadow: 0px 0px 5px grey ;
  border-radius: 16px;
  margin: 20px;
}

.otziv > p{
  font-size: 22px;
  width: 97%;
  margin: 0 auto;
  margin-top: 20px;
}

.profil{
  width: 97%;
  display: flex;
  align-items: start;
  justify-content: start;
  margin: 0 auto;
  margin-top: 60px;
}

.profil p{
  margin-left: 40px;
  color: #006AA8;
  font-size: 24px;
}

.profil p span{
  color: #39BBF4;
  font-size: 14px;
  font-weight: 700;
}

footer {
  background-color: #4C649F;
  height: 232px;

  .footer_items {
      padding-top: 50px;
      display: flex;
      justify-content: space-between;

      .social {
          display: flex;
          flex-direction: column;
          gap: 15px;
          align-items: center;

          a {
              .logo {
                  display: flex;
                  gap: 10px;
                  align-items: center;
                  font-size: 28px;
                  font-family: "Montserrat-SemiBold";
                  color: white;
                  font-weight: 600;
              }
          }

          .icons {
              cursor: pointer;
          }
      }

      .info {
          display: flex;
          gap: 15px;
          flex-direction: column;

          h2 {
              font-size: 18px;
              color: white;
              font-family: "Montserrat-SemiBold";
          }

          a {
              font-size: 14px;
              color: white;
          }

          a:hover {
              transform: scale(1.1);
          }
      }

      .info1 {
          h2 {
              font-size: 18px;
              color: white;
              font-family: "Montserrat-SemiBold";
          }

          h3 {
              font-size: 18px;
              color: white;
              font-family: "Montserrat-SemiBold";
              padding-top: 15px;
          }

          a {
              color: white;
              font-size: 12px;
              padding-top: 10px;
          }

          div {
              color: white;
              font-size: 12px;
              padding-top: 10px;
          }
      }
  }
}


.el_btnsBlock{
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

.el_btnsBlock > p{
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #39BBF4;
  border-radius: 80px;
  padding: 10px 20px;
  text-align: center;
  font-size: 21px;
}

.elDldwaBlock{
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 40px;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.477);
  width: 80%;
  height: 50px;
}

.elDldwaBlock p{
  font-weight: 200;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  width: 120px;
}

.elDldwaBlock p:hover{
  font-size: 19px;
}

.mainIng{
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 60px;
}

.mainTEXT{
  width: 600px;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.mainTEXT h1{
  font-size: 72px;
  color: #002A43;
  margin-bottom: 60px;
}

.logoadlwawd{
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  margin-bottom: 30px;
}

.logoadlwawd p{
  font-size: 18px;
  font-weight: 500;
}

.logoadlwawd div{
  width: 20px;
  height: 20px;
  border-radius: 8px;
  border-bottom-left-radius: 0px;
  background-color: #39BBF4;
}

.eldwadawd{
  text-align: center;
  font-size: 52px;
  color: #002A43;
  margin: 20px;
}

form{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #006AA8;
  border-radius: 16px;
  border-bottom-left-radius: 0px;
  width: 600px;
  margin: 0 auto;
  height: 450px;
  flex-direction: column;
}

form input{
  width: 85%;
  color: #002A43;
  border: none;
  height: 50px;
  border-radius: 50px;
  font-size: 18px;
  padding-left: 20px;
  outline: none;

}

form input::placeholder{
  color: #002A43;
  font-weight: 700;
}

form button{
  background-color: white;
  border: none;
  border-radius: 50px;
  height: 50px;
  width: 260px;
  color: #002A43;
  font-size: 20px;
  font-weight: 700;
}

form{
  position: relative;
}

.dwadw{
  transform: translate(-50%, -50%);
  left: 50%;
  top: 340px;
  color: white;
  font-weight: 100;
  font-size: 12px;
  position: absolute;
  cursor: pointer;
}

.btnCarat{
  color: gray;
}

*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}